In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests 
import os

import json

In [2]:
FD_df = pd.read_csv("C:/Users/19739/Desktop/New folder/Project_4/Resources/Fatalities.csv")
FD_df

,First Name,Last Name,Age,Rank,Classification,Date of Incident,Date of Death,Cause Of Death,Nature Of Death,Duty,Activity,Emergency,Property Type,Unnamed: 13
0,Robert,Pollard,64,Firefighter,Volunteer,31-Dec-99,1-Jan-00,Stress/Overexertion,Stroke,Response,Vehicle Passenger,Yes,Outdoor Property,NaN
1,Lee,Purdy,57,Pump Operator/Inspector,Volunteer,8-Jan-00,8-Jan-00,Stress/Overexertion,Heart Attack,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Residential,NaN
2,Ronald,Osadacz,36,First Assistant Chief,Volunteer,11-Jan-00,11-Jan-00,Stress/Overexertion,Heart Attack,Response,Advance Hose Lines/Fire Attack,Yes,Street/Road,NaN
3,Allen,Streeter,58,Firefighter,Volunteer,11-Jan-00,11-Jan-00,Stress/Overexertion,Heart Attack,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Outdoor Property,NaN
4,Gary,"Bankert, Sr",37,Firefighter,Volunteer,15-Jan-00,15-Jan-00,Trapped,Suffocation,Training,Other,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,Jack,Rose,19,Captain,Volunteer,19-Dec-15,19-Dec-15,Disorientation,Suffocation,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Residential,NaN
2001,Stacy,Crawford,47,Firefighter,Volunteer,19-Dec-15,19-Dec-15,Stress/Overexertion,Heart Attack,Training,Not on Scene,No,NaN,NaN
2002,Willie,Ratliff,66,Captain,Career,21-Dec-15,21-Dec-15,Stress/Overexertion,Heart Attack,On-Duty,Not on Scene,No,NaN,NaN
2003,Louis,Patti,67,Fire Police Officer,Volunteer,6-Dec-15,22-Dec-15,Stress/Overexertion,Stroke,On-Duty,Not on Scene,No,NaN,NaN
2004,Patrick,Wolterman,28,Firefighter,Career,28-Dec-15,28-Dec-15,Collapse,Suffocation,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Residential,NaN

In [7]:
#Drop 9/11 values 
# get names of indexes for which
# column Age has value 21
index_names = FD_df[ FD_df['Date of Death'] == '11-Sep-01' ].index
  
# drop these row indexes
# from dataFrame
FD_df.drop(index_names, inplace = True)
FD_df




#CD_df = FD_df[['Last Name', 'Cause Of Death']]
#CD_df



#df_micetested_gender = df_clean[['Sex','Mouse ID']] 
#num_micetested_gender  = df_micetested_gender.groupby("Sex").nunique() 
#percentage_gender = ((num_micetested_gender / num_mice_clean)).round(3)
#df_percentage_gender = pd.DataFrame(percentage_gender)
#df_percentage_gender = pd.DataFrame(df_percentage_gender['Mouse ID'])
#df_percentage_gender = df_percentage_gender.rename(columns = {'Mouse ID': '%'})

#df_micetested_gender = pd.DataFrame(num_micetested_gender)
#df_micetested_gender = pd.DataFrame(df_micetested_gender['Mouse ID'])

#df_micetested_gender = df_micetested_gender.rename(columns = {'Mouse ID': 'Count'})


#df_micetested_gender_and_percent = pd.concat([df_micetested_gender, df_percentage_gender], axis=1)
#df_micetested_gender_and_percent

,First Name,Last Name,Age,Rank,Classification,Date of Incident,Date of Death,Cause Of Death,Nature Of Death,Duty,Activity,Emergency,Property Type,Unnamed: 13
0,Robert,Pollard,64,Firefighter,Volunteer,31-Dec-99,1-Jan-00,Stress/Overexertion,Stroke,Response,Vehicle Passenger,Yes,Outdoor Property,NaN
1,Lee,Purdy,57,Pump Operator/Inspector,Volunteer,8-Jan-00,8-Jan-00,Stress/Overexertion,Heart Attack,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Residential,NaN
2,Ronald,Osadacz,36,First Assistant Chief,Volunteer,11-Jan-00,11-Jan-00,Stress/Overexertion,Heart Attack,Response,Advance Hose Lines/Fire Attack,Yes,Street/Road,NaN
3,Allen,Streeter,58,Firefighter,Volunteer,11-Jan-00,11-Jan-00,Stress/Overexertion,Heart Attack,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Outdoor Property,NaN
4,Gary,"Bankert, Sr",37,Firefighter,Volunteer,15-Jan-00,15-Jan-00,Trapped,Suffocation,Training,Other,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,Jack,Rose,19,Captain,Volunteer,19-Dec-15,19-Dec-15,Disorientation,Suffocation,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Residential,NaN
2001,Stacy,Crawford,47,Firefighter,Volunteer,19-Dec-15,19-Dec-15,Stress/Overexertion,Heart Attack,Training,Not on Scene,No,NaN,NaN
2002,Willie,Ratliff,66,Captain,Career,21-Dec-15,21-Dec-15,Stress/Overexertion,Heart Attack,On-Duty,Not on Scene,No,NaN,NaN
2003,Louis,Patti,67,Fire Police Officer,Volunteer,6-Dec-15,22-Dec-15,Stress/Overexertion,Stroke,On-Duty,Not on Scene,No,NaN,NaN
2004,Patrick,Wolterman,28,Firefighter,Career,28-Dec-15,28-Dec-15,Collapse,Suffocation,On-Scene Fire,Advance Hose Lines/Fire Attack,Yes,Residential,NaN

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

plot = df_micetested_gender.plot.pie(subplots=True, autopct="%1.1f%%", title ="Mice Tested by Gender", figsize=(11, 6))